.text-gradient {
    background: linear-gradient(100deg, #0093e9 0, #80d0c7 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    line-height: 5rem;
}
