<template>
  <div class="header__navbar">
    <main-layout>
      <div class="block">
        <ul class="header__list">
          <li class="header__location">
            <i class="fa-solid fa-location-dot"></i> Офисы продаж
          </li>
          <li class="header__phone">
            <i class="fa-sharp fa-solid fa-phone-volume"></i> +998 (71) 201 77
            77
          </li>
          <li class="header__social">
            <div class="header__social--media">
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-facebook-f"></i>
              <i class="fa-brands fa-telegram"></i>
              <i class="fa-brands fa-instagram"></i>
            </div>
          </li>
        </ul>
        <div class="header__lang"><i class="fa-solid fa-language"></i> En</div>
      </div>
    </main-layout>
  </div>
</template>

<script>
import MainLayout from "../MainLayout.vue";

export default {
  components: { MainLayout },
};
</script>

<style lang="scss" scoped>
@import "./HeaderNavbar.style.scss";
</style>
