.header__navbar {
  background-image: linear-gradient(100deg, #0093e9 0, #80d0c7 95%);

  .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__list {
      color: white;
      padding: 16px 0;
      display: flex;

      li {
        margin: 5px 16px 0 5px;

        i {
          margin-right: 5px;
        }

        &.header__social {
            i {
                margin-right: 1.4rem;
            }
        }
      }
    }

    .header__lang {
        color: white;
    }
  }
}
