<template>
  <div class="home">
    <main-search-bar></main-search-bar>
    <Footer></Footer>
  </div>
</template>

<script>
import MainLayout from "@/components/Common/MainLayout.vue";
import MainSearchBar from "@/components/Common/MainSearchBar/MainSearchBar.vue";
import Footer from "@/components/Common/footer/footer.vue";
export default {
  components: { MainLayout, MainSearchBar, Footer },
  name: "HomeView",
};
</script>
