<template>
  <div class="tours">
    <main-search-bar></main-search-bar>
  </div>
</template>

<script>
import MainSearchBar from "@/components/Common/MainSearchBar/MainSearchBar.vue";
export default {
  components: { MainSearchBar },
};
</script>

<style></style>
