<template>
  <main-layout>
    <div class="hedaer__menu my-4 flex justify-between items-center relative">
      <div class="main__logo">
        <img class="max-w-[250px]" src="@/assets/images/logo.png" alt="" />
      </div>
      <div class="menu">
        <ul class="menu__list flex justify-between gap-4">
          <li>
            <Menu as="div" class="inline-block text-left">
              <div>
                <MenuButton
                  class="inline-flex w-full justify-center rounded-md bg-black bg-opacity-20 font-medium hover:bg-opacity-30 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75"
                >
                  Страны
                </MenuButton>
              </div>

              <transition
                enter-active-class="transition duration-100 ease-out"
                enter-from-class="transform scale-95 opacity-0"
                enter-to-class="transform scale-100 opacity-100"
                leave-active-class="transition duration-75 ease-in"
                leave-from-class="transform scale-100 opacity-100"
                leave-to-class="transform scale-95 opacity-0"
              >
                <MenuItems
                  class="absolute flex gap-2 mt-6 right-0 max-w-[1200px] w-[1200px] origin-top-right divide-y p-10 rounded-md bg-[#2e353e] shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                >
                  <div class="saudia w-1/6">
                    <div class="bg-[#ffffff0d] p-4 rounded-md">
                      <img
                        src="@/assets/images/saudia.svg"
                        class="w-[100%]"
                        alt=""
                      />
                    </div>
                    <div class="text-white mt-2">Саудовская Аравия</div>
                  </div>

                  <div class="uae w-1/6 !border-0">
                    <div class="bg-[#ffffff0d] p-4 rounded-md">
                      <img
                        src="@/assets/images/uae.svg"
                        class="w-[100%]"
                        alt=""
                      />
                    </div>
                    <div class="text-white mt-2">ОАЭ</div>
                  </div>
                </MenuItems>
              </transition>
            </Menu>
          </li>

          <li>Агентам</li>
          <li>
            <Menu as="div" class="inline-block text-left">
              <div>
                <MenuButton
                  class="w-full justify-center rounded-md bg-black bg-opacity-20 font-medium hover:bg-opacity-30 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75"
                >
                  <i class="fa-solid fa-location-dot"></i> Ташкент
                </MenuButton>
              </div>

              <transition
                enter-active-class="transition duration-100 ease-out"
                enter-from-class="transform scale-95 opacity-0"
                enter-to-class="transform scale-100 opacity-100"
                leave-active-class="transition duration-75 ease-in"
                leave-from-class="transform scale-100 opacity-100"
                leave-to-class="transform scale-95 opacity-0"
              >
                <MenuItems
                  class="absolute flex gap-2 mt-6 right-0 max-w-[1200px] w-[1200px] origin-top-right divide-y p-10 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none text-black"
                >
                  <div class="first w-[40%]">
                    <p class="text-[#3f78e0]">ТАШКЕНТСКАЯ ОБЛАСТЬ</p>
                    <ul>
                      <li class="my-2"><a href="#">Ангрен</a></li>
                      <li class="my-2"><a href="#">Ташкент</a></li>
                    </ul>
                  </div>
                  <div class="first w-[40%] !border-t-0">
                    <p class="text-[#3f78e0]">САМАРКАНДСКАЯ ОБЛАСТЬ</p>
                    <ul>
                      <li class="my-2"><a href="#">Самарканд</a></li>
                    </ul>
                  </div>
                </MenuItems>
              </transition>
            </Menu>
          </li>
          <li>Информация</li>
        </ul>
      </div>
      <div class="account">
        <i class="fa-regular fa-user"></i> Личный кабинет
      </div>
    </div>
  </main-layout>
</template>

<script>
import MainLayout from "../MainLayout.vue";
import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue";
export default {
  components: { MainLayout, Menu, MenuButton, MenuItems, MenuItem },
};
</script>

<style scoped lang="scss">
@import "./HeaderMenu.style.scss";
</style>
