<template>
  <header-navbar />
  <header-menu />
  <router-view />
</template>

<script>
import HeaderNavbar from './components/Common/HeaderNavbar/HeaderNavbar.vue'
import HeaderMenu from './components/Common/HedaerMenu/HeaderMenu.vue'
export default {
  components: { HeaderNavbar, HeaderMenu },
}
</script>

<style src="./assets/tailwind.css"></style>