<template>
  <footer class="bg-pale-blue" style="background-color: #f6f7f9 !important">
    <main-layout>
      <div class="py-14 pb-md-15">
        <div class="flex gap-8">
          <div class="w-[33%]">
            <div class="widget">
              <img
                class="mb-4"
                src="@/assets/images/logo.png"
                srcset="@/assets/images/logo.png"
                alt=""
                style="width: 250px; max-width: 100%"
              />
              <p class="mb-4">© 2023 Asia Luxe. <br />All rights reserved.</p>
              <nav class="nav social">
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-telegram"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
              </nav>
              <!-- /.social -->
            </div>
            <!-- /.widget -->
          </div>
          <!-- /column -->
          <div class="w-[33%]">
            <div class="widget">
              <h4 class="widget-title mb-3 text-[#343f52] text-xl font-semibold">Get in Touch</h4>
              <address class="md:pr-20 pr-28 text-[#7b8dac]">
                Moonshine St. 14/05 Light City, London, United Kingdom
              </address>
              <a href="mailto:#" class="link-body text-[#7b8dac] mt-4 inline-block">info@email.com</a><br />
              <span class="text-[#7b8dac]">00 (123) 456 78 90</span>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /column -->
          <div class="w-[33%]">
            <div class="widget">
              <h4 class="widget-title mb-3 text-[#343f52] text-xl font-semibold">Learn More</h4>
              <ul class="list-unstyled text-reset mb-0 text-[#7b8dac]">
                <li class="mb-2"><a href="#">About Us</a></li>
                <li class="mb-2"><a href="#">Our Story</a></li>
                <li class="mb-2"><a href="#">Projects</a></li>
                <li class="mb-2"><a href="#">Terms of Use</a></li>
                <li class="mb-2"><a href="#">Privacy Policy</a></li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /column -->
          <div class="w-[33%]">
            <div class="widget">
              <h4 class="widget-title mb-3 text-[#343f52] text-xl font-semibold">Our Newsletter</h4>
              <p class="mb-5 text-[#7b8dac]">
                Subscribe to our newsletter to get our news &amp; deals
                delivered to you.
              </p>
              <!-- /.newsletter-wrapper -->
            </div>
            <!-- /.widget -->
          </div>
          <!-- /column -->
        </div>
      </div>
    </main-layout>
  </footer>
</template>

<script>
import MainLayout from "../MainLayout.vue";
export default {
  components: { MainLayout },
};
</script>

<style scoped lang="scss">
@import "footer.style.scss";
</style>
